openai_gpt_explore

# Packaging artifacts
dist/
build/
*.egg-info/

# Virtual environments
venv/
.env/

# Python cache
__pycache__/
*.pyc

#docs make latexpdf
docs/build
docs/source/generated
usage.py

#files
*.obj
*.mtl
*.mp4
